/* Customizações do header */

#header {
  z-index: 2;
  height: 100px;
}

#header .menu-link {
  padding-bottom: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#header .menu-link:hover {
  border-bottom: 1px solid var(--secondColor);
}

#header .menu-link.active {
  border-bottom: 1px solid var(--baseColor);
  transition-duration: .5s;
}

.dark .menu-link {
  color: var(--secondColor);
}

.dark .menu-link:hover,
.dark .menu-link:active {
  border-bottom: 1px solid var(--secondColor) !important;
}

.light .menu-link {
  color: var(--baseColor);
}