/* Customizações do header */

#header {
  z-index: 2;
}

#header .menu-link {
  padding-bottom: 10px;
}

#header .menu-link:hover,
#header .menu-link.active {
  border-bottom: 1px solid var(--baseColor);
  transition-duration: .5s;
}