#contact {
  background: var(--bkgDarkPath) repeat;
  color: var(--secondColor);
}

#contact .wrapper {
  padding-bottom: 0;
}

#contact p,
#contact h1,
#contact span {
  color: var(--secondColor);
}

#contact .form-group {
  margin-bottom: 10px;
}

#contact .form-group input {
  margin-bottom: 5px;
}

#contact .form-group input,
#contact .form-group textarea {
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--secondColor);
  border-bottom: 1px solid var(--secondColor);
}

#contact .form-group input::placeholder,
#contact .form-group textarea::placeholder {
  color: var(--secondColor);
  opacity: 0.3;
}

#contact .form-group input:focus ,
#contact .form-group textarea:focus {
  box-shadow: none;
} 

#contact .form-group label,
#contact .form-group textarea {
  color: var(--secondColor);
  margin-bottom: 10px;
}

#contact .arrow {
  left: auto;
  bottom: 90px;
  right: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}