#contact {
  background: var(--bkgDarkPath) repeat;
  color: var(--secondColor);
}

#contact .wrapper {
  padding-bottom: 0;
}

#contact p,
#contact h1,
#contact span {
  color: var(--secondColor);
}

#contact .form-group {
  margin-bottom: 10px;
}

#contact .form-group input {
  margin-bottom: 5px;
}

#contact .form-group input,
#contact .form-group textarea {
  border-color: var(--secondColor);
  background-color: transparent;
  color: var(--secondColor);
}

#contact .form-group label,
#contact .form-group textarea {
  color: var(--secondColor);
  margin-bottom: 10px;
}