#about h1 {
  font-size: 60px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  margin-bottom: 80px;
}

#about .profile {
  display: flex;
}

#about .profile p {
  font-size: 18px;
  margin-bottom: 20px;
}

#about .profile img {
  border-radius: 50%;
  max-width: 100%;
}


@media (max-width: 991px) {
  #about .wrapper {
    justify-content: start;
  }

  #about h1 {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: center;
  }

  #about .profile {
    height: 90dvh;
    overflow: hidden;
    justify-content: center;
  }

  #about .profile img {
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
  }

  #about .profile p {
    font-size: 1rem;
  }

  #about .about-box {
    overflow-y: scroll;
    margin-bottom: 45px;
    margin-top: 20px;
  }

  #about .arrow {
    display: none !important;
  }
}