@import "bootstrap/dist/css/bootstrap.min.css";

/* Variables */
:root {
  --baseColor: #444444;
  --secondColor: #C4C8C5;
  --bkgGrayPath: url('../public/assets/bkg-gray.jpg');
  --bkgDarkPath: url('../public/assets/bkg-dark.jpg');
}

/* default customs */
* {
  color: var(--baseColor);
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory; 
}

body {
  background: var(--bkgGrayPath) repeat;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: var(--baseColor);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* generic elements */
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  padding-bottom: 5%;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

/* Container custom */
@media (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}

@media(max-width: 767px) {
  .container {
    max-width: 90%;
  }
}