.arrow {
  position: absolute;
  bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  left: 5%;
}

.down {
  transform: rotate(180deg);
}

.left {
  transform: rotate(270deg);
}

.right {
  transform: rotate(90deg);
}