.arrow {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  left: 50%;
  background-color: transparent;
  border: none;
}

.up {
  transform: translate(-50px, 0) rotate(0deg) !important;
}

.down {
  transform: translate(-50px, 0) rotate(180deg) !important;
}

.left {
  transform: translate(-50px, 0) rotate(270deg) !important;
}

.right {
  transform: translate(-50px, 0) rotate(90deg) !important;
}