.arrow {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  left: 50%;
  background-color: transparent;
  border: none;
}

.down {
  transform: rotate(180deg);
}

.left {
  transform: rotate(270deg);
}

.right {
  transform: rotate(90deg);
}