#projects h1 {
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

#projects .card {
  border-radius: 0;
  border: 1px solid var(--baseColor);
  background-color: #fff;
  max-width: 450px;
}

#projects .card img {
  width: 100%;
  height: auto;
  max-height: 250px;
}

#projects .card h2 {
  font-weight: bold;
  padding: 20px;
  font-size: 23px;
}

#projects .card p {
  font-size: 15px;
  padding: 0 20px 20px 20px;
}

#projects .slick-slide {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#projects .slick-slide:not(.slick-center) .card {
  filter: blur(9px);
  opacity: 0.5;
  transition-duration: .7s;
}

#projects .slick-arrow {
  background-image: url('../../../public/icons/arrow-black.svg');
}

#projects .slick-arrow::before {
  content: none;
}

#projects .slick-prev,
#projects .slick-next {
  z-index: 2;
  width: 30px;
  height: 30px;
  top: 57%;
}

#projects .slick-prev {
  left: 30%;
  transform: rotate(270deg);
}

#projects .slick-next {
  right: 30%;
  transform: rotate(90deg);
}

@media (max-width: 991px) {
  #projects .arrow {
    display: none !important;
  }

  #projects .slick-next {
    right: -20px;
  }
  
  #projects .slick-prev {
    left: -20px;
  }
}