#intro .Typewriter {
  margin-bottom: 0;
}

#intro .Typewriter:nth-child(1) {
  font-size: 25px;
}

#intro .Typewriter:nth-child(2) {
  font-size: 60px;
  font-weight: bold;
}

#intro .Typewriter:nth-child(3) {
  font-size: 25px;
}

#intro .social-media {
  margin-top: 20px;
}